.copyright {
  padding-top: 30px;

  p {
    font: flex-text($font-small) $font-default;
    line-height: 1.5;
  }

  a {
    display: inline-block;
    text-decoration: underline;
    color: $red;

    &:hover {
      text-decoration: none;
    }
  }
}