.latest-news {

  &__item {
    margin-bottom: 30px;
  }

  h3 {
    font: bold flex-text($font-small + 1) $font-default;
    line-height: 1.5;
    margin: 15px 0;
  }

  p {
    margin: 15px 0;
    font: flex-text($font-small) $font-default;
    line-height: 1.5;
    display: inline;
  }

  a {
    color: $gray-dark;
    text-decoration: none;
    font-size: flex-text($font-small);

    &:hover {
      color: $red;
    }
  }
}