.team__item {
  margin-bottom: 30px;

  img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }

  p {
    margin: 15px 0;
    font: flex-text($font-small) $font-default;
    line-height: 1.5;
    display: inline;
  }

  a {
    color: $gray-dark;
    text-decoration: none;
    font-size: flex-text($font-small);

    &:hover {
      color: $red;
    }
  }
}