// Main color
$black-add: #1e1e20;
$black: #111;
$white: #fff;
$red: #cf3046;
$gray-dark: #747474;

$gray-add: #353436;

// font size
$font-base: 16px;
$font-big: 23px;
$font-middle: 14px;
$font-small: 12px;

// font family
$font-default: Arial, sans-serif;
$opensans-bold: "Open Sans Bold", $font_default;
$opensans-semibold: "Open Sans Semibold", $font_default;
$opensans-regular: "Open Sans Regular", $font_default;